# Auto detect text files and perform LF normalization
* text=auto

# Never touch binary assets
*.png binary
*.webp binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.pdb binary
